<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.intracode.heliot">

    <application
        android:name=".Heliot"
        android:allowBackup="true"
        android:icon="@mipmap/heliot_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Launcher_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_Menu" />
        <activity android:name=".Bevattning" />
        <activity android:name=".Plant1Watering" />
        <activity android:name=".WateringTimeTable" />
        <activity android:name=".signUp_screen" />
        <activity android:name=".Test_list" />
        <activity android:name=".View_timeTable" />
        <activity android:name=".updateAndDelete_FB" />
        <activity android:name=".View_timeTableUI" />
        <activity android:name=".SensorPlots" />
        <activity android:name=".SensorPlotTest" />
        <activity android:name=".SensorPlots_FB" />
        <activity android:name=".Sensorplots_FB_Test" />
        <activity android:name=".Plant2Watering" />
        <activity android:name=".Plant3Watering" />
        <activity android:name=".Plots_FB_Plant1_Water" />
        <activity android:name=".Plots_Menu" />
        <activity android:name=".Plots_Plant1_Menu" />
        <activity android:name=".Plots_Plant2_Menu" />
        <activity android:name=".Plots_FB_Plant2_Water" />
        <activity android:name=".Plots_Plant3_Menu" />
        <activity android:name=".Plots_FB_Plant3_Water" />
        <activity android:name=".ViewTimeTable_Planta1" />
        <activity android:name=".ViewTimeTable_Planta2" />
        <activity android:name=".ViewTimeTable_Planta3" />
        <activity android:name=".Logbook_Menu" />
        <activity android:name=".Logbook_Planta1" />
        <activity android:name=".Logbook_Planta2" />
        <activity android:name=".Logbook_Planta3" />
        <activity android:name=".updateAndDelete_FB_Plant1" />
        <activity android:name=".updateAndDelete_FB_Plant2" />
        <activity android:name=".ViewTimeTable_Menu" />
        <activity android:name=".updateAndDelete_FB_Plant3" />
        <activity android:name=".Logbook_Add_Test"></activity>
    </application>

</manifest>